/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* variabili colore */
:root{
    --background-secondary-color:#009688;
    --background-primary-color:#dbdbd2;
    --background-image: url(../img/mine.jpg);
    --prymary-color:#ffffff;
    --secondary-color:#eaeaea;
    --background-color-chat-bar:#f3eeea;
    --prymary-icon-color:#b1b1b1;
    --secondary-icon-color:#6b7376;
    --color-message-sent:#d5f9ba;
    --color-message-received:#ffffff;
    --color-notification:#8edafc;
    --color-last-acces:#808080;
    --color-time:#a3a3a3;
    --color-backround-serch:#fafafa;
}
/* body background */
body{
    background: linear-gradient(to bottom, var(--background-secondary-color) 20%, var(--background-primary-color) 0%);
    height: 100vh;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
/* container general */
.container{
    height: 100%;
    width: 78.125rem;
    margin: auto;
    display: flex;
}
/* common */
img{
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
}
.icon-settings{
    color: grey;
    padding: 0.438rem;
}
.id-contact{
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
}
.last-access{
    color: var(--color-last-acces);
    font-size: 0.875rem;
}
.name-access{
    padding-left: 0.625rem;
}

/* container contatti */
.container-contacts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25rem;
    background-color: var(--prymary-color);
}
.my-profile{
    max-height: 4.375rem;
    height: 100%;
    width: 100%;
    border-right: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}
/* mio profilo */
.my-avatar{
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
}
.my-name{
    padding-left: 0.625rem;
}
/* inpostazioni mio profilo */
.profile-settings{
    padding-right: 0.938rem;
}
/* notifiche */
.notifications{
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: var(--color-notification);
}
.icon-notification{
    font-size: 1.25rem;
    padding: 0.625rem 0.5rem;
    margin-left: 1.25rem;
    border-radius: 50%;
    background-color: var(--prymary-color);
    color: var(--color-notification);
}
.message-notification{
    padding-left: 0.625rem;
}
.message-notification p{
    font-size: 0.938rem;
}
.message-notification a{
    font-size: 0.813rem;
    color: var(--secondary-icon-color);
}
/* barra di ricerca */
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    background-color: var(--background-color-chat-bar);
}
.search-bar i{
    padding:  0.625rem;
    background-color: var(--prymary-color);
    border: none;

}
.bar{
    height: 2.25rem;
    width: 21.875rem;
    border: none;
}
/* contatti */
.contacts{
    overflow-y: auto;
}
.contact{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--prymary-color);
    border-bottom: 1px solid lightgrey;
}

/* container caht */
.container-chat{
    height: 100%;
    width: 53.125rem;
    background-image: var(--background-image);
    position: relative;
    display: flex;
    flex-direction: column;
}
/* contatto con cui stai chattando */
.contact-chatting{
    max-height: 4.375rem;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* inpostazioni contatto */
.cath-settings{
    padding-right: 0.938rem;
}

/* barra inserimento testo */
.chat-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    max-height: 4.375rem;
    height: 100%;
    width: 100%;
    background-color: var(--background-color-chat-bar);
}
.text-bar{
    height: 3.125rem;
    width: 43.75rem;
    border: none;
    border-radius: 0.313rem;
    padding-left: 0.938rem;
}
.icon-text{
    padding: 1.563rem;
    font-size: 1.25rem;
    color: var(--secondary-icon-color);
}
/* messaggi */
.message{
    padding: 4.063rem 0;
    overflow-y: auto;
}
.time-message{
    position: absolute;
    right: 0.188rem;
    bottom: 0.188rem;
    font-size: 0.75rem;
    color: var(--color-time);
}
/* messaggi inviati */
.sent{
    padding: 0.938rem;
    min-height: 3.125rem;
    max-width: 37.5rem;
    min-width: 18.75rem;
    height: 100%;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-message-sent);
}
.container-message-sendt{
    min-height: 3.75rem;
    width: 100%;
    padding: 0.313rem 3.125rem;
    display: flex;
    align-items: center;
    justify-content: right;
}
/* messaggi ricevuti */
.received{
    padding: 0.938rem;
    min-height: 3.125rem;
    max-width: 37.5rem;
    min-width: 18.75rem;
    height: 100%;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-message-received);
}
.container-message-received{
    min-height: 3.75rem;
    width: 100%;
    padding: 0.313rem 3.125rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
