<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- link css -->
    <!-- link style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- link style -->
    <!-- link script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- link script -->
    <title>Bolzapp</title>
</head>
<body>
    <div id="app" class="container">
        <!-- i miei contatti -->
        <div class="container-contacts">
            <!-- mio profilo -->
            <div class="my-profile">
                <div class="my-avatar">
                    <img src="img/avatar_2.jpg" alt="">
                    <p class="my-name">Leonardo</p>
                </div>
                <div class="profile-settings">
                    <i class="fa-solid fa-circle-notch icon-settings"></i>
                    <i class="fa-solid fa-message icon-settings"></i>
                    <i class="fa-solid fa-ellipsis-vertical icon-settings"></i>
                </div>
            </div>
            <!-- notifiche -->
            <div class="notifications">
                <i class="fa-solid fa-bell-slash icon-notification"></i>
                <div class="message-notification">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- barra di ricerca contatti -->
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <form action="">
                    <input type="text" class="bar" placeholder="Cerca o inizia una nuova cath">
                </form>
            </div>
            <!-- contatti -->
            <div class="contacts" >
                <div class="contact" v-for="(contact, index) in contacts" @click="cathClick(index)">
                    <div class="id-contact">
                        <img :src=" `img/avatar${contact.avatar}.jpg`" alt="" >
                        <div class="name-access">
                            <p>{{ contact.name }}</p>
                            <span class="last-access">Ultimo acceso oggi alle 12:00</span>
                        </div>
                    </div>
                    <div class="time-access">12:00</div>
                </div>

            </div>
        </div>
        
        <!-- chat -->
        <div class="container-chat">
            <!-- contatto con cui sto chattando -->
            <div class="contact-chatting">
                <div class="id-contact">
                    <img src="img/avatar_1.jpg" alt="">
                    <div class="name-access">
                        <p>Marco</p>
                        <span class="last-access">Ultimo acceso oggi alle 12:00</span>
                    </div>
                </div>
                <div class="cath-settings">
                    <i class="fa-solid fa-magnifying-glass icon-settings"></i>
                    <i class="fa-solid fa-paperclip icon-settings"></i>
                    <i class="fa-solid fa-ellipsis-vertical icon-settings"></i>
                </div>
            </div>
            <!-- messaggi -->
            <div class="message-chat">
                <div class="container-message" v-for="message in messages">
                    <div class="message sendt" >
                        <p>{{ contact.messages }}</p> 
                        <span class="time-message">15.30</span>
                    </div>
                </div>
                <div class="container-message">
                    <div class="message received">
                        <p>Tutto fatto!</p> 
                        <span class="time-message">15.30</span>
                    </div>
                </div>
            </div>
            <!-- barra per chattare -->
            <div class="chat-bar">
                <i class="fa-regular fa-face-smile icon-text"></i>
                <form action="" v-model="addMessage">
                    <input type="text" class="text-bar" placeholder="Scrivi un messaggio">
                </form>
                <i class="fa-solid fa-microphone icon-text"></i>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>